%h2 Log in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .col-xs-12.col-sm-9.col-md-6 
    =f.input :email, as: :email, label: "Email"
    =f.input :password, as: :password, label: "Password"
    -if devise_mapping.rememberable?
      =f.input :remember_me, as: :boolean, label: "Remember me"
    =f.button :submit
    
    %br
    = render "devise/shared/links"
