= simple_form_for([@project, @ticket], html:{multipart: true}) do |f|
  .col-xs-12.col-sm-9.col-md-6 
    =f.input :name, label: 'Ticket name'
    =f.input :description, label: 'Ticket description'
    =f.input :priority, collection: 1..5, label: 'Priority', :include_blank => false
    =f.input :difficulty, collection: 1..5, label: 'Difficulty', :include_blank => false
    =f.input :status, :collection => @status_ar, label: 'Status', :include_blank => false 
    -members={}
    -@project.members.each {|m| members.store(m.email, m.id)}
    = f.association :users, collection: members, as: :check_boxes
  .col-xs-12.col-sm-9.col-md-6 
    -if @ticket.single_attachment.present?
      -if @ticket.single_attachment_content_type =~ /image\/*/
        =image_tag @ticket.single_attachment.url() #tu powinna byc jakas inna funkcja
      -else
        =link_to @ticket.inner_attachment_name, @ticket.single_attachment.url()

      =f.input :remove_single_attachment, as: :boolean
    /-else
    =f.input :single_attachment, label: 'Attachment'
    =f.input :inner_attachment_name, label: 'Attachment name'
    =f.button :submit
