-@tickets.each do |ticket|
  -project=Project.find(ticket.project_id)
  .col-xs-12.col-sm-6.col-md-4          
    %tr
      %td
        = link_to ticket.name, project_ticket_path(project, ticket)
      %td
        - if can? :update, project
          = link_to "Edit", edit_project_ticket_path(project, ticket), :class => 'btn btn-mini btn-primary'
      %td
        - if can? :destroy, project
          = link_to "Delete", project_ticket_path(project, ticket), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-mini btn-danger'