-allTickets=@tickets
  
.container-fluid
  .col-xs-12.col-sm-6.col-md-4  
    .panel.panel-default.panel-active
      .panel-heading
        My active tickets
      .panel-body
        -@tickets=allTickets.where(status: 0)
        %table.table
          %thead
            %tr
              %th Name
              %th Actions
          %tbody
            =render 'tickets_list'
  .col-xs-12.col-sm-6.col-md-4
    .panel.panel-default.panel-closed
      .panel-heading
        My closed tickets
      .panel-body
        -@tickets=allTickets.where(status: 1)
        %table.table
          %thead
            %tr
              %th Name
              %th Actions
          %tbody
            =render 'tickets_list'
  .col-xs-12.col-sm-6.col-md-4  
    .panel.panel-default.panel-cancelled
      .panel-heading
        My cancelled tickets
      .panel-body
        -@tickets=allTickets.where(status: 2)
        %table.table
          %thead
            %tr
              %th Name
              %th Actions
          %tbody
            =render 'tickets_list'
  