%h1 My all tickets
  
.container-fluid
  .row
    -@projects.each do |project|
      -@project=project
      -@tickets=project.tickets
      - project.tickets.each do |ticket|
        =render 'tickets_list'
%br/