%ol.breadcrumb
  %li
    = link_to "Home", root_path
  - if @project != nil
    %li
      = link_to "Projects", projects_path
    -if @to_edit
      %li
        = link_to @project.name, project_path
      %li.active Edit
    -else
      %li.active #{@project.name}
  -else
    %li.active Projects