=render "layouts/breadcrumb"
%h1 My projects

%h3
  
.container-fluid
  .row
    .panel.panel-primary
      .panel-heading
        My owned projects:
      .panel-body{:id => "projects-panel"}
        -@projects=@owned_projects
        =render 'projects_list'
  .row
    .panel.panel-primary
      .panel-heading
        My member projects:
      .panel-body{:id => "projects-panel"}
        -@projects=@member_projects         
        =render 'projects_list'
