=render "layouts/breadcrumb"
%h1 My projects

%h3
  
.container-fluid
  .row
    -@projects=@owned_projects
    %div{:style => "text-align: center"}
      My owned projects:
    =render 'projects_list'
  .row
    -@projects=@member_projects
    %div{:style => "text-align: center"}
      My member projects:
    =render 'projects_list'
%br/
= link_to "Back", :back
