=render "layouts/breadcrumb"

%h3
  
.container-fluid
  .row
    .panel.panel-default.my-panel.project-panel
      .panel-heading
        My owned projects:
      .panel-body
        -@projects=@owned_projects
        =render 'projects_list'
  .row
    .panel.panel-default.my-panel.project-panel
      .panel-heading
        My member projects:
      .panel-body
        -@projects=@member_projects         
        =render 'projects_list'
