.project-thumbnail {
  background: rgba(240,240,240,.4);
  border-radius: 3px;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 10px
}

#options-pencil{
  font-size: large
}

#thumbnail-article-name{
  font-weight: bold
  
}


