#priority-star{
  color: yellow;
}

.span2{
  width: 200px;
  float: center;
  min-height: 1px;
  margin-left: 30px;
  display: block;
}

.green{
  color: green;
  font-weight: bold;
}

.blue{
  color: blue;
  font-weight: bold;
}

.yellow{
  color: yellow;
  font-weight: bold;
}