#priority-star{
  color: yellow;
}

.span2{
  width: 200px;
  float: center;
  min-height: 1px;
  margin-left: 30px;
  display: block;
}

.green{
  color: green;
  font-weight: bold;
}

.blue{
  color: blue;
  font-weight: bold;
}

.yellow{
  color: #FFCC00;
  font-weight: bold;
}

.panel-active{
  border-color: rgb(0,71,107) !important;
  background: rgba(150,150,150, 0.25);
  color: white;
}
.panel-active > .panel-heading{
  background-color: rgb(0,71,107) !important;
  border-color: rgb(0,71,107) !important;
  color: white;
}

.panel-cancelled{
  border-color: #FFCC00 !important;
  background: rgba(150,150,150, 0.25);
  color: white;
}
.panel-cancelled > .panel-heading{
  background-color: #FFCC00 !important;
  border-color: #FFCC00 !important;
  color: white;
}

.panel-closed{
  border-color: green !important;
  background: rgba(150,150,150, 0.25);
  color: white;
}
.panel-closed > .panel-heading{
  border-color: green !important;
  background-color: green !important;
  color: white;
}