#welcome{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

section{
  display: block;
}

#aplication-main-section{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 2;
}