.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"}
      %img{:alt => "Brand", :src => "zebatki2mini.png"}/
    .navbar-collapse.collapse.navbar-responsive-collapse
      -if user_signed_in?
        %ul.nav.navbar-nav
          %li= link_to "My projects", projects_path
          / -if can? :create, @article
          %li= link_to "New project", new_project_path
          %li= link_to "My tickets", tickets_list_all_path
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/sign_up_section'