.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
    %a.navbar-brand{:href => "/"}
      %img#brand{:alt => "Brand", :src => asset_path("zebatki2.png")}/
    .navbar-collapse.collapse.navbar-responsive-collapse
      -if user_signed_in?
        = render 'layouts/my_navbar_elems'
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/sign_up_section'