
- if user_signed_in?
  %p.navbar-text Hello, #{current_user.full_name} !
  %li= link_to "My profile", profile_edit_path
  %li= link_to "Sign out", destroy_user_session_path, method: :delete
- else
  %li= link_to "Sign in", new_user_session_path